.container{
    &__money{
        text-align: center;
        margin: 1rem;
        font-size: 5rem;
    }
}

@media(max-width: 230px){
    .container{
        &__money{
            font-size: 3rem;
            margin: 0.7rem;
        }
    }
}