.form{
    display: flex;
    align-items: center;
    justify-content: center;
    &__dolar{
        padding: .3rem;
    }
    .amount,
    .description{
        position: relative;
        width: 11rem;
        margin-right: 1rem;
        &__input{
            padding: .3rem;
        }
        &__error{
            position: absolute;
            top: 1.8rem;
        }
    }
    &__button{
        border: none;
        padding: .5rem 1rem;
        background-color: lightsteelblue;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        transition: 0.2s all;
        &:active{
            transform: scale(0.98);
        }
    }
}

@media(max-width: 510px){
    .form{
        display:flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        &__dolar{
            display: none;
        }
        .description,
        .amount{
            margin-right: 0;
            margin-bottom: 1.8rem;
        }
    }
}