.table{
    width: 30rem;
    margin: auto;
    margin-top: 2rem;
    font-size: 1.2rem;
    &__head{
        background-color: lightgray;
    }
    & td{
        text-align: center; 
        padding: .5rem;
        &.win{
            color: yellowgreen;
            &::before{
                content: "+";
            }
        }
        &.lose{
            color: lightcoral;
            &::before{
                content: "-";
            }
        }
    }
}

@media(max-width: 510px){
    .table{
        width: 90%;
    }
}